:root {
  --background--color: rgb(250, 243, 221);
  --text--color: rgb(2, 0, 0);
  --main--color: rgb(243, 154, 157);
  --accsent--color: rgb(165, 236, 236);
  --action--color: rgb(218, 148, 197);
}
body {
  margin: 0;
  height: 100vh;
  padding: 0;
}
.head {
  background-color: var(--main--color);
  height: 10%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.childcard {
  display: flex;
  flex-direction: column;
  justify-content: top ;
  align-items: center;
  border: 3px solid var(--background--color);
  flex-grow: 1;
  height: 100%;
}
img {
    display: flex;
    flex-grow: 1;
  }
.parentbox {
  height: 20%;
  width: 100%;
  border: 3px solid black;
}
.childbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  margin: 1rem;
}
.foot {
  background-color: var(--main--color);
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button {
  background-color: var(--action--color);
}
.middle {
  background-color: var(--background--color);
  width: 100vw;
  height: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.bad {
  display: flex;
  width: 10%;
  height: 100%;
  background-color: var(--main--color);
}
.person {
  display: flex;
  flex-grow: 80%;
  height: 100%;
  
}
.good {
  display: flex;
  width: 10%;
  height: 100%;
  background-color: var(--main--color);
}
